language: node_js


sudo: required
services:
  - docker

before_install:
  - docker build -t igor/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true igor/docker-react npm run test -- --coverage